.line__main {
  margin-top: 55px;
}

.footer {
  padding-top: 31px;
  background: #17191C;
}

.footer__services {
  height: 128px;
  background: #17191C;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__col {
  display: flex;
  align-items: center;
}

.logo__footer {
  margin-right: 130px;
}

.footer__col--align--right {
  justify-content: flex-end;
}

.menu__footer {
  padding-top: 11px;
}

.socialmedia {
  margin-right: 74px;
}

.socialmedia__list {
  padding-top: 7px;
  display: flex;
}

.socialmedia__item {
  margin-right: 10px;
}
.socialmedia__item:last-child {
  margin-right: 0;
}
.socialmedia__item--icon--tg .socialmedia__link {
  background: url(./img/telegram.png);
}
.socialmedia__item--icon--tg .socialmedia__link:hover {
  background: url(./img/telegram2.png);
  transition: .3;
}
.socialmedia__item--icon--vk .socialmedia__link {
  background: url(./img/vk.png);
}
.socialmedia__item--icon--vk .socialmedia__link:hover {
  background: url(./img/vk2.png);
  transition: .3;
}
.socialmedia__item--icon--f .socialmedia__link {
  background: url(./img/f.png);
}
.socialmedia__item--icon--f .socialmedia__link:hover {
  background: url(./img/f2.png);
  transition: .3;
}
.socialmedia__item--icon--in .socialmedia__link {
  background: url(./img/in.png);
}
.socialmedia__item--icon--in .socialmedia__link:hover {
  background: url(./img/in2.png);
  transition: .3;
}
.socialmedia__link {
  display: block;
  text-decoration: none;
  height: 36px;
  width: 36px;
}

.contacts__footer {
  padding-top: 14px;
  text-align: right;
}

.contacts__call {
  font-weight: 400;
  font-size: 11px;
  color: #9A9A9A;
}
