.line__main {
  margin-top: 55px;
}

.footer {
  padding-top: 31px;
  background: #17191C;
}

.footer__services {
  height: 128px;
  background: #17191C;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__col {
  display: flex;
  align-items: center;
}

.logo__footer {
  margin-right: 130px;
}

.footer__col--align--right {
  justify-content: flex-end;
}

.menu__footer {
  padding-top: 11px;
}

.socialmedia {
  margin-right: 74px;
}

.socialmedia__list {
  padding-top: 7px;
  display: flex;
}

.socialmedia__item {
  margin-right: 10px;
}
.socialmedia__item:last-child {
  margin-right: 0;
}

.socialmedia__link {
  position: relative;
  display: inline-block;
  height: 36px;
  width: 36px;
  border-radius: 100%;
}

.socialmedia__link--icon--tg:before {
  content: url(../../img/telegram.png);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.socialmedia__link--icon--tg:hover:before {
  content: url(../../img/telegram2.png);
}

.socialmedia__link--icon--vk:before {
  content: url(../../img/vk.png);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.socialmedia__link--icon--vk:hover:before {
  content: url(../../img/vk2.png);
}

.socialmedia__link--icon--f:before {
  content: url(../../img/f.png);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

.socialmedia__link--icon--f:hover:before {
  content: url(../../img/f2.png);
}
.socialmedia__link--icon--in:before {
  content: url(../../img/in.png);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

.socialmedia__link--icon--in:hover:before {
  content: url(../../img/in2.png);
}

.contacts__footer {
  padding-top: 14px;
  text-align: right;
}

.contacts__call {
  font-weight: 400;
  font-size: 11px;
  color: #9A9A9A;
}