.line__main {
  margin-top: 55px;
}

.footer {
  padding-top: 31px;
  background: #17191C;
}

.footer__services {
  height: 128px;
  background: #17191C;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__col {
  display: flex;
  align-items: center;
}

.logo__footer {
  margin-right: 130px;
}

.footer__col--align--right {
  justify-content: flex-end;
}

.menu__footer {
  padding-top: 11px;
}

.socialmedia {
  margin-right: 74px;
}

.socialmedia__list {
  padding-top: 7px;
  display: flex;
}

.socialmedia__item {
  margin-right: 10px;
}
.socialmedia__item:last-child {
  margin-right: 0;
}

.socialmedia__link {
  position: relative;
  display: inline-block;
  height: 36px;
  width: 36px;
  border-radius: 100%;
}

.socialmedia__link--icon--tg:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 36px;
  width: 36px;
  background: url(../../img/css_sprites.png) -10px -10px;
}
.socialmedia__link--icon--tg:hover:after {
  content: "";
  background-position:-10px -66px;
}

.socialmedia__link--icon--vk:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 36px;
  width: 36px;
  background: url(../../img/css_sprites.png) -66px -10px;
}
.socialmedia__link--icon--vk:hover:after {
  content: "";
  background-position: -66px -66px;
}

.socialmedia__link--icon--f:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 36px;
  width: 36px;
  background: url(../../img/css_sprites.png) -122px -10px;
}
.socialmedia__link--icon--f:hover:after {
  content: "";
  background-position: -122px -66px;
}

.socialmedia__link--icon--in:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 36px;
  width: 36px;
  background: url(../../img/css_sprites.png) -10px -122px;
}
.socialmedia__link--icon--in:hover:after {
  content: "";
  background-position: -66px -122px;
}

.contacts__footer {
  padding-top: 14px;
  text-align: right;
}

.contacts__call {
  font-weight: 400;
  font-size: 11px;
  color: #9A9A9A;
}