.header {
  padding-top: 11px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}
.header__col--align--right {
  justify-content: flex-end;
}

.logo__header {
  display: block;
  margin-right: 241px;
}

.menu {
 display: flex;
}
.menu__header {
  padding-top: 16px;
}
.menu__item {
  display: inline-flex;
  margin-right: 51px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link:hover {
  color: #FF3D00;;
}

.contacts__header {
  padding-top: 17px;
}

.contacts__phone {
  font-weight: 400;
  font-size: 26px;
}

.contacts__dropdown-title {
  text-align: right;
  font-weight: 400;
  font-size: 13px;
  text-decoration: underline;
  color: #FF5500;;
}