.hero__container {
  margin-top: 146px;
}

.hero__title{
  font-weight: 800;
  font-size: 72px;
  text-align: center;
  text-transform: uppercase
}

.hero__text {
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.btn__wrapper {
  text-align: center;
}

.button__hero {
  text-align: center;
  margin-top: 41px;
}
.button__hero:hover {
  background: #FF3D00;
}