.menu {
   font-size: 14px; 
}

.menu__list {
    display: flex;
}
.menu__item {
    margin-right: 55px;
}

.menu__link {
    transition: .2s;
}

.menu__link:hover {
    color: #FF3D00 ;
}