.partners {
    padding-top: 86px;
    padding-bottom: 52px;
    background: #F4F5F5;
}

.partners__title {
    font-size: 48px;
    font-weight: 700;
    text-transform: none;
    color: #1A1B1E;
}

.partners__title::first-letter {
    text-transform: uppercase;
}

.partners__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 76px;
}

.partners__item {
    display: flex;
    margin-right: 94px;
    margin-bottom: 64px;
    filter: grayscale(1);
    transition: .2s;
}

.partners__item:hover {
    filter: grayscale(0);
}

.partners__logo {
    display: flex;
}