.reviews {
    padding: 94px 0 86px;
}

.reviews__list {
    column-count: 2;
    column-gap: 30px;
}

.reviews__item {
    margin-bottom: 18px;
}
.reviews__item:last-child {
    margin-bottom: 0;
}

/* pager */

.pager__wrapper--reviews {
    margin-top: 70px;
}

/* form */

.reviews-forms {
    padding: 78px 0 96px;
}

.reviews-form {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
}