.services {
    margin-top: 94px;
    background: #fff;
}

.services__item {
    margin-bottom: 48px;
}

.services__item:last-child {
    margin-bottom: 0;
}

.service__img-wrapper {
    margin-right: 5%;
}